/* From uiverse.io by @G4b413l */
.scanner p {
  color: transparent;
  font-size: 17.5px;
  position: relative;
  overflow: hidden;
}

.scanner p::before {
  content: "Loading...";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 2.5px solid #003f88;
  overflow: hidden;
  color: #003f88;
  animation: load91371 2s linear infinite;
}

@keyframes load91371 {

  0%,
  10%,
  100% {
    width: 0;
  }

  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    border-right-color: transparent;
  }

  11%,
  21%,
  31%,
  41%,
  51%,
  61%,
  71%,
  81%,
  91% {
    border-right-color: #003f88;
  }

  60%,
  80% {
    width: 150px;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@400;700&display=swap');

* {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-family: 'Lato', sans-serif;
}

a {
  color: #00509d;
  font-size: 13px;
}

h1 {
  font-size: 30px;
  font-weight: 900;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 5px;
  padding-left: 20px;
}

h3 {
  font-size: 22px;
  font-weight: 600;
}

span {
  padding: 0;
  margin: 0;
}

button {
  border-radius: 3px;

  width: 180px;
  height: 30px;

  padding: 10px, 10px, 10px, 10px;

  background-color: white;
  color: #003f88;
  border: 1px solid #003f88;
  font-size: 14px;
}

.topBar {
  background: linear-gradient(to right, #00509d, #003f88 90%);

  text-align: center;
  color: aliceblue;

  width: 100%;
  height: 50px;
}

.leftBar {
  height: 100vh;

  background-color: #F7F7F7;
}

.rightBar {
  height: 90vh;

  background-color: white;
}

.fieldLabel {
  margin-top: 10px;
  margin-bottom: 0;

  font-size: 14px;

  color: #003f88;
}

.inputField {
  width: 75%;
}

.switch-border {
  background-color: #EEEEEE;

  margin-left: 20px;
  padding-left: 20px;
  padding-right: 21px;

  /* width: 292px; */
  height: 66px;
}

.port-table {
  padding-top: 0px;
  border-collapse: separate;
}

.port-table span {
  width: 20;
  height: 20;

  font-size: 11px;
  font-weight: 600;
  color: #002d61;

  text-align: center;
}

.port-table th {
  width: 20;
  height: 20;

  position: relative;
  bottom: -3px;

  text-align: center;
}

.port-table td {
  width: 20;
  height: 20;
  border: 1px solid #003f88;
  cursor: pointer;
}

.infoTable {
  margin-left: 15px;

  border-collapse: separate;
  border-spacing: 10px 0;

  font-size: 13px;
  letter-spacing: 2px;

  color: #003f88;
}

.infoTable p {
  border-right: 1px solid #E5E5E5;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 15px;
}

.divider {
  color: white;
  border-bottom: 1px solid #E5E5E5;
  margin-left: 20px;
  margin-right: 20px;
}

.clientTable {
  margin-top: 25px;
  margin-left: 20px;
  padding-bottom: 15px;
  margin-bottom: 15px;

  width: 95%;

  font-size: 16.5px;
  border: 1px solid #eeeeee;
  border-radius: 2px;
}

/* Header row tr */
.clientTable>tbody>tr:first-of-type {
  background-color: rgb(250, 250, 250);
  border-bottom: 1px solid #eeeeee;
  border-right: 2px solid #eeeeee;
  border-left: 2px solid #eeeeee;
}

/* Header row spans */
.clientTable>tbody>tr>th>span {
  text-align: center;
  font-size: 13.5px;
  /* background-color: aquamarine; */
}

/* Header row first span */
.clientTable>tbody>tr>th:first-of-type {
  text-align: center;
  /* background-color: aquamarine; */
}

/* First column th */
.clientTable>tbody>tr>:first-of-type {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  /* background-color: #003f88; */
}

/* Columns after head */
.clientTable>tbody>tr {
  font-size: 13.5px;
  /* background-color: #003f88; */
}

/* Last column after head */
.clientTable>tbody>tr:last-of-type {
  border-bottom: 2px solid #eeeeee;
  /* background-color: #003f88; */
}

.focusView {
  margin-top: 15px;
  padding-left: 25px;
}

.portSettings {
  margin-top: 10px;
  padding-left: 25px;
}

.portSettings span {
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 1px;
}

.portSettings td {
  padding-bottom: 10px;
}

.portSettings tr {
  padding-bottom: 25px;
}

.portSettings input {
  width: 360px;
  padding-left: 5px;
  color: #002d61;
  letter-spacing: 1px;
}

.portSettings select {
  width: 360px;
  height: 28px;
  color: #002d61;
  letter-spacing: 1px;
}

.portSettingsButtonInactive {
  margin: 0;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #fff;
  border-color: #bdbebf;
  color: #898a8c;
  letter-spacing: 0.5px;
}

.portSettingsButtonInactive:hover {
  background-color: #f3f3f3;
}

.portSettingsButtonActive {
  margin: 0;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #eaf2ff;
  border-color: #2d7ae8;
  box-shadow: none;
  color: #2d7ae8;
  letter-spacing: 0.5px;
}

.portSettingsButtonActive:hover {
  background-color: #d9e8ff;
}

.leftButton {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.rightButton {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.submitButton {
  letter-spacing: 1px;
  width: 100px;
  margin-top: 20px;
  background-color: #1470cc;
  border-color: #1470cc;
  color: #fff;
}
.submitButton:hover {
  background-color: #3a84ce;
  border-color: #3a84ce;
  color: #fff;
}
.submitButton:disabled {
  background-color: #aacef2;
  border-color: #aacef2;
  color: #fff;
}

.portTitle {
  font-size: 18px !important;
  font-weight: 600 !important;
}

.githubicon {
  cursor: hand;
}
